
/* color */

// Main color
$mc-light: #5daeff;
$mc-dark: #003375;

// White color
$wc-light: #ffffff;
$wc-dark: #fafafa;

// Light color
$lc-light: #ededed;
$lc-dark: #e6e6e6;

// Gray color
$gc-light: #b9b9b9;
$gc-dark: #707070;

// Dark color
$dc-dark: #333;
$dc-light: #505050;

// Background color
$bg-light: #ebf0f5;

/* Fonts */
$font-size: 15px;
$line-height: 1.8;
$font-family: Arial, Helvetica, "微軟正黑體";


// Font size
$fz-h1: $font-size * 3; // 45px
$fz-h2: $font-size * 2; // 30px
$fz-h3: floor($font-size * 1.6); // 24px
$fz-h4: ceil($font-size * 1.3); // 20px
$fz-h5: floor($font-size * 1.2); // 18px
$fz-p: $font-size; // 15px
$fz-small: floor($font-size * .8); // 12px


/* Style */
$sp: 10px;
$border-width: 1px;
$border-radius: 5px;
$shadow-layer: 2px 2px 10px rgba(0, 0, 0, .2);
$mask-color: rgba(255, 255, 255, .85);


/* Media Screen */
$ww-xxl: 1500px;
$ww-xl: 1280px;
$ww-l: 1000px;
$ww-m: 640px;
$wh-l: 900px;

// Mobile first
$view-xxl: "screen and (min-width: #{$ww-xxl})";
$view-xxl--max: "screen and (max-width: #{$ww-xxl})";
$view-xl: "screen and (min-width: #{$ww-xl})";
$view-xl--max: "screen and (max-width: #{$ww-xl})";
$view-l: "screen and (min-width: #{$ww-l})";
$view-l--max: "screen and (max-width: #{$ww-l})";
$view-m: "screen and (min-width: #{$ww-m})";
$view-m--max: "screen and (max-width: #{$ww-m})";
$view-min: "screen and (min-width: #{$ww-l}) and (max-height: #{$wh-l})";


/* Panel */
$panel-bg-color: rgba(255, 255, 255, .7);


/* Z-index */
$z-datepicker: 5;
