<input
	#topLeft
	type="date"
	class="date top-left"
	[(ngModel)]="dateTopLeft"
	appDatepicker
/>

<input
	type="date"
	class="date top-right"
	[(ngModel)]="dateTopRight"
	appDatepicker
/>

<section>
	<h1>Ngx Datepicker Demo</h1>
	<input
		type="date"
		[(ngModel)]="date"
		appDatepicker
	/>
</section>

<input
	type="date"
	class="date bottom-left"
	[(ngModel)]="dateBottomLeft"
	appDatepicker
/>

<input
	type="date"
	class="date bottom-right"
	[(ngModel)]="dateBottomRight"
	appDatepicker
/>

<!-- 小日曆 開始 -->
<app-datepicker></app-datepicker>
<!-- 小日曆 結束 -->
