@import "src/sass/set.scss";

.datepicker {

	&-mask {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: $z-datepicker;
	}

	&-panel {
		z-index: $z-datepicker;
		overflow: hidden;
		position: absolute;
		margin: $sp 0;
		box-shadow: $shadow-layer;
		color: $gc-dark;
		border-radius: $border-radius;
		background-color: $wc-dark;

		&-header {
			display: flex;
			justify-content: space-between;
			background-color: $mc-dark;
		}

		&-body {
			padding: $sp;
			border: solid $border-width $gc-light;
			border-top: none;
			overflow: hidden;
			border-radius: 0 0 $border-radius $border-radius;
		}

			table {
				width: 100%;
				margin-bottom: $sp;
			}

				th {
					text-align: center;
					font-size: $fz-small;
					color: $gc-light;
				}

				td {
					cursor: pointer;
					padding: ($sp * .5) ($sp * .8);
					text-align: center;
				}

	}

	&-select {
		display: inline-block;
		position: relative;
		margin: ($sp * .5) 0;
		padding: 0 ($sp * 1.5);
		color: $wc-light;
		font-size: $fz-p;
		border: solid $border-width $wc-light;
		border-radius: $border-radius;

		&:hover {
			background-color: $mc-light;
		}

		select {
			font-size: $fz-p;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}

	button {
		cursor: pointer;
	}

		&-btn {

			display: inline-block;
			padding: 0 ($sp * 1.5);
			color: $lc-light;
			font-size: $fz-h4;

			&:hover {
				background-color: $mc-light;
			}
		}

	td.datepicker-date {

		// 上個月或下個月的日期
		&-out {
			color: $gc-light;
		}

		// 選取的日期
		&-sdate {
			color: $wc-light;
			border-radius: $border-radius * .5;
			background-color: $mc-light;
		}

		// 不能使用的日期，加強權重
		&-off {
			cursor: default;
			color: $lc-dark;
		}
	}

	&-hide {
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
	}

	@media #{$view-l--max} {
		&-wrap {
			display: flex;
			position: fixed;
			z-index: $z-datepicker;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			align-items: center;
			justify-content: center;
		}

		&-mask {
			background-color: $panel-bg-color;
		}

		&-panel {
			position: static;
		}
	}
}
